script.
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    var toggles = document.getElementsByClassName('collapse');
    var category = getUrlParameter('category');
        
    $(document).ready(function() {
        console.log('CAT :' + category);
        console.log('-----------------------');
        console.log(toggles[1].id);
        if (!category) {
            console.log('MASUK');
            document.getElementById(toggles[1].id).className += " in";
            document.getElementById(toggles[2].id).className += " in";
        }
        $('[data-toggle="tooltip"]').tooltip(); 
    });

div.col-md-3
    p.lead
        b Category
    div.panel-group#accordion
        each category in categories
            div.panel.panel-default
                div.panel-heading
                    h4.panel-title
                        a.accordion-toggle(data-toggle="collapse", data-parent="#accordion", href="#"+category.idxname.value)
                            span(data-toggle="tooltip", title=category.description.value) #{category.label.value}
                div.panel-collapse.collapse(id=category.idxname.value)
                    each child in category.children
                        div.panel
                            div.panel-heading
                                h4.panel-title
                                    a.accordion-toggle(data-toggle="collapse", data-parent="#"+category.idxname.value, href="#"+child.idxname.value) 
                                        span(data-toggle="tooltip", title=child.description.value) #{child.label.value}
                            div.panel-collapse.collapse(id=child.idxname.value)
                                if (child.datasets.length > 0)    
                                    div.panel-body
                                        form(action="/home", method="get")
                                            input(type="hidden" name="category" value=child.idxname.value)
                                            each dataset in child.datasets
                                                input(type="checkbox" name="dataset" value=dataset.idxname.value)
                                                span 
                                                    a(href="/d/"+dataset.idxname.value) #{dataset.title.value}
                                                br
                                            input.btn.btn-default.btn-right(id=child.label.value, type="submit", value="Go")