extend main

block content
    div.col-md-12
        p.lead
            b Datasets
        div.panel-group#accordion
            each category in categories
                div.panel.panel-default
                    div.panel-heading
                        h4.panel-title
                            a.accordion-toggle(data-toggle="collapse", data-parent="#accordion", href="#"+category.idxname.value) #{category.label.value}
                    div.panel-collapse.collapse(id=category.idxname.value)
                        each child in category.children
                            div.panel
                                div.panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle="collapse", data-parent="#"+category.idxname.value, href="#"+category.idxname.value+"-"+child.idxname.value) #{child.label.value}
                                div.panel-collapse.collapse(id=category.idxname.value+"-"+child.idxname.value)
                                    if (child.datasets.length > 0)
                                        div.panel-body
                                            table.table.table-hover
                                                thead
                                                    tr
                                                        th Title
                                                        th Description
                                                tbody
                                                    each dataset in child.datasets
                                                        tr
                                                            td(style="width:300px")
                                                                a(href="/d/"+dataset.idxname.value) #{dataset.title.value}
                                                            td #{dataset.description.value}
