extend main

block content
	div.col-md-12
		b #{breadcrumb}
		br
		br
		table.table.table-hover
			tbody
				tr
					td(style="width:200px")
						b Title
					td #{dataset[0].title.value}
				tr
					td(style="width:200px")
						b Description
					td #{dataset[0].description.value}
				tr
					td(style="width:200px")
						b Original Source
					td 
						a(href=dataset[0].sourcelink.value) #{dataset[0].sourcelink.value}
				tr
					td(style="width:200px")
						b Named Graph
					td #{dataset[0].namedgraph.value}
				tr
					td(style="width:200px")
						b Year or Period
					td 
						a(href=dataset[0].yearorperiod.value) #{dataset[0].yearorperiod.value}
		form(action="/home", method="get")
			input(type="hidden" name="category" value=category[0].idxname.value)
			input(type="hidden" name="dataset" value=idxname)
			input.btn.btn-default.btn-right(id=dataset[0].categoryid.value, type="submit", value="Visualise")