div#table.tabcontent(style="height:480px;overflow:scroll;width=640px")
    if (ds)
        h4 #{ds[0].title}
        table.table.table-hover
            thead
                tr
                    th Subject
                    th Type
                    th Label
                    th Rank
                    th Dataset
                    th Reference Area
                    th Reference Period
            tbody
                each triple in ds[0].bindings
                    tr
                        td
                            a(href=triple.s.value) #{triple.s.value}
                        td 
                            a(href=triple.type.value) #{triple.type.value}
                        td 
                            a(href=triple.label.value) #{triple.label.value}
                        td
                            a(href=triple.rank.value) #{triple.rank.value}
                        td
                            a(href=triple.dataset.value) #{triple.dataset.value}
                        td
                            a(href=triple.refarea.value) #{triple.refarea.value}
                        td
                            a(href=triple.refperiod.value) #{triple.refperiod.value}