div#table.tabcontent(style="height:480px;overflow:scroll;width=640px")
    if (ds)
        h4 #{ds[0].title}
        table.table.table-hover
            thead
                tr
                    th Subject
                    th Type
                    th Label
                    //- th Rank
                    th Dataset
                    th Reference Area
                    th Reference Period
            tbody
                each triple in ds[0].bindings
                    tr
                        td
                            a(href=triple.Subject.value) #{triple.Subject.value}
                        td 
                            a(href=triple.Type.value) #{triple.Type.value}
                        td 
                            a(href=triple.Label.value) #{triple.Label.value}
                        //- td
                            a(href=triple.rank.value) #{triple.rank.value}
                        td
                            a(href=triple.Dataset.value) #{triple.Dataset.value}
                        td
                            a(href=triple.RefArea.value) #{triple.RefArea.value}
                        td
                            a(href=triple.RefPeriod.value) #{triple.RefPeriod.value}