script.
    $(document).ready(function() {
        activeTab("tabcontent", "map", "li");
        activeTab("menucontent", "vis", "menu");
    });

    function activeTab(className, tab, prefix) {
        tabcontent = document.getElementsByClassName(className);
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        var tn = prefix + tab;
        document.getElementById(tab).style.display = "block";
        document.getElementById(tn).className += " active";
    }

    function openTab(event, tabname) {
        // Declare all variables
        var i, tabcontent, tablinks, litabs;
        var litab = "li" + tabname;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        litabs = document.getElementsByClassName("litabs");
        for (i = 0; i < litabs.length; i++) {
            litabs[i].className = litabs[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(tabname).style.display = "block";
        event.currentTarget.className += " active";
        document.getElementById(litab).className += " active";
    }

    function selectTab(event, menutabname) {
        // Declare all variables
        var i, menucontent, menulinks, menutabs;
        var menutab = "menu" + menutabname;

        // Get all elements with class="tabcontent" and hide them
        menucontent = document.getElementsByClassName("menucontent");
        for (i = 0; i < menucontent.length; i++) {
            menucontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        menulinks = document.getElementsByClassName("menulinks");
        for (i = 0; i < menulinks.length; i++) {
            menulinks[i].className = menulinks[i].className.replace(" active", "");
        }

        menutabs = document.getElementsByClassName("menutabs");
        for (i = 0; i < menutabs.length; i++) {
            menutabs[i].className = menutabs[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(menutabname).style.display = "block";
        event.currentTarget.className += " active";
        document.getElementById(menutab).className += " active";
    }

div.col-md-9
    ul.nav.nav-tabs
        li#menuvis.menutabs
            a.menulinks(href="#", onclick="selectTab(event, 'vis')")
                h4
                    b Visualisation
        li#menumeta.menutabs
            a.menulinks(href="#", onclick="selectTab(event, 'meta')")
                h4
                    b Metadata
        div#vis.menucontent.row.carousel-holder
            div.col-md-12
                div#carousel-example-generic.visual-box(display="inline-block")
                    div.carousel-inner
                        div.row
                            div.col-lg-12
                                ul.nav.nav-tabs
                                    li#lichart.litabs
                                        a.tablinks(href="#", onclick="openTab(event, 'chart')") Chart
                                    li#limap.litabs
                                        a.tablinks(href="#", onclick="openTab(event, 'map')") Map
                                    li#litable.litabs
                                        a.tablinks(href="#", onclick="openTab(event, 'table')") Table

                                div(style="overflow:scroll")
                                    include vchart.pug

                                include vmap.pug

                                include vtable2.pug

                    br(style="clear: both;")
        div#meta.menucontent.row.carousel-holder
            div.col-md-12
                div#carousel-example-generic.visual-box(display="inline-block")
                    div.carousel-inner
                        div.row
                            div.col-md-12
                                if (ds)
                                    each table in ds
                                        if (table.dataset.title)
                                            table.table.table-hover
                                                tbody
                                                    tr
                                                        td(style="width:200px")
                                                            b Title
                                                        td 
                                                            b #{table.dataset.title.value}
                                                    tr
                                                        td(style="width:200px")
                                                            b Description
                                                        td #{table.dataset.description.value}
                                                    tr(style="width:200px")
                                                        td(style="width:200px")
                                                            b Original Source
                                                        td(style="width:200px")
                                                            a(href=table.dataset.sourcelink.value) #{table.dataset.sourcelink.value}
                                                    tr
                                                        td(style="width:200px")
                                                            b Named Graph
                                                        td #{table.dataset.namedgraph.value}
                                                    tr
                                                        td(style="width:200px")
                                                            b Year or Period
                                                        td 
                                                            a(href=table.dataset.yearorperiod.value) #{table.dataset.yearorperiod.value}
                                            hr      
                                            br